{% extends 'base.html' %}

{% block styling %}
    {{ super() }}

    .container {
        background-color: rgba(0, 0, 0, 0.5);
    }

    a.nav-link, div>a {
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
    }

{% endblock %}

{% block nav %}
        <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{{ url_for('home') }}">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('logout') }}">Logout</a>
{% endblock %}

{% block content %}
    <h1>Hello, {{ current_user.name }}!</h1>
    <h3>What do you want to do today?</h3>
    <div class="container">
        <div class="row">
            <div class="col"><a href="{{ url_for('show_transactions') }}">Transactions</a></div>
            <div class="col"><a href="{{ url_for('show_budgets') }}">Budgets</a></div>
            <div class="w-100"></div>
            <div class="col"><a href="{{ url_for('show_categories') }}">Categories</a></div>
            <div class="col"><a href="{{ url_for('settings') }}">Account Settings</a></div>
        </div>
    </div>
{% endblock %}