<div class="modal" style="display: block;">
    <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">{{ popup_title }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

          <div class="modal-body p-5 pt-0">
            <form method="POST" novalidate>
                  {{ form.csrf_token }}
                  {{ form.hidden_tag() }}
              <div class="form-floating mb-3">
                  {{ form.transaction_name }}
                  <label for="transaction_name">Transaction Name</label>
                  {% if form.transaction_name.errors and form.is_submitted() %}
                    <div class="text-danger">
                        {% for error in form.transaction_name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                  {% endif %}
              </div>
                <div class="form-floating mb-3">
                  {{ form.transaction_date }}
                    <label for="transaction_date">Date</label>
                  {% if form.transaction_date.errors  and form.is_submitted() %}
                    <div class="text-danger">
                        {% for error in form.transaction_date.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                  {% endif %}
                </div>
              <div class="form-floating mb-3">
                  {{ form.is_recurring }}
                <label for="flexCheckDefault" class="form-check-label">Is it recurring?</label>
                  {% if form.is_recurring.errors  and form.is_submitted() %}
                    <div class="text-danger">
                        {% for error in form.is_recurring.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                  {% endif %}
              </div>
                <div class="form-floating mb-3">
                    <label for="recurrence_pattern">Renewal?</label>
                  {{ form.recurrence_pattern }}
                  {% if form.recurrence_pattern.errors  and form.is_submitted() %}
                    <div class="text-danger">
                        {% for error in form.recurrence_pattern.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                  {% endif %}
              </div>
                <div class="form-floating mb-3">
                  {{ form.recurrence_start }}
                  <label for="recurrence_start">Start Date</label>
                  {% if form.recurrence_start.errors  and form.is_submitted() %}
                    <div class="text-danger">
                        {% for error in form.recurrence_start.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                  {% endif %}
              </div>
                {{ form_action }}
            </form>
          </div>
    </div>
</div>